.text-center {
	text-align: center;
}

.buttons-wrapper {
	margin: 20px 0;
}

.buttons-wrapper button > .dashicons-update {
	margin-top: 3px;
}

#jsdelivrcdn-settings-table tbody {
	background: #f1f1f1;
}

#jsdelivrcdn-settings-table tr:nth-child(2n) {
	background: #fff;
}

.dashicons.spin {
	animation: dashicons-spin 1s infinite;
	animation-timing-function: linear;
}

@keyframes dashicons-spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.jsdelivrcdn-settings-wrapper {
	float: left;
	margin-right: 40px;
	background: #fff;
}

.jsdelivrcdn-description-wrapper {
	padding-top: 0.1px;
}

.jsdelivrcdn-setttings-options-title {
	border-bottom: 1px solid #ccc;
	padding: 0 20px;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.jsdelivrcdn-settings-form {
	padding: 0 20px;
}
